<ng-container *ngIf="isLoading">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</ng-container>

<ng-container *ngIf="!isLoading && products">
  <div class="category-container">
    <div *ngFor="let product of products" class="card-container">
      <img
        (click)="goToProduct(product)"
        *ngIf="product.images.length"
        [src]="product.images[0].url"
        [alt]="product.images[0].name"
      />
      <img
        (click)="goToProduct(product)"
        *ngIf="!product.images.length"
        src="assets/asbijoux-atelierelor-main-image.jpg"
        alt="AsBijoux Constanta"
      />

      <div class="card-content">
        <h5 [title]="product.title">{{ product.title }}</h5>
      </div>
      <button (click)="goToProduct(product)" class="btn-fill-left">
        Arata produs
      </button>
      <div class="card-footer">
        <small *ngIf="product.createdAt >= product.updatedAt"
          >Adaugat in {{ product.createdAt | customDate: 0 }}</small
        >
        <small *ngIf="product.createdAt < product.updatedAt"
          >Actualizat in {{ product.updatedAt | customDate: 0 }}</small
        >
      </div>
    </div>
  </div>
</ng-container>
