:host {
  display: flex;
  flex-direction: column;
  app-footer {
    text-align: center;
  }
  @media screen and (min-width: 821px) {
    .main {
      min-height: 100vh;
      display: grid;
      grid-template-rows: auto 1fr auto;
      grid-template-areas: "header" "main-container" "footer";
      .header {
        padding: 10px;
        grid-area: header;
      }

      .main-container {
        grid-area: body;
      }

      .footer {
        padding: 10px;
        grid-area: footer;
      }
    }
  }
}
