:host {
  display: flex;
  flex-direction: column;
  app-footer {
    text-align: center;
  }
  @media screen and (min-width: 841px) {
    justify-content: space-between;
    height: 100%;
    #main-container {
      flex: 1;
    }
  }
}
