@import "../../styles/variables.scss";

:host {
  width: 100%;
  #add-product-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    h2 {
      text-align: center;
      margin-bottom: 10px;
    }
    #add-product-title {
      padding: 10px;
    }
    #add-product-category-and-publish {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    .add-product-suggestions {
      font-size: small;
      color: $adminLeftSide;
    }
    #add-product-file-container {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }
    #add-product-file-container input[type="file"] {
      width: 100%;
    }
    button[type="submit"] {
      border-radius: 0;
    }
  }

  @media screen and (min-width: 663px) {
    #add-product-container {
      #add-product-category-and-publish {
        display: flex;
        flex-direction: row;
        mat-form-field {
          width: 45%;
        }
      }
      #add-product-file-container input[type="file"] {
        width: 30%;
      }
    }
  }
}
