@import "../../styles/variables.scss";
:host {
  #gpdr-container {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: $gap;
    li {
      list-style-position: inside;
    }
  }
}
