<div id="gpdr-container">
  <div>
    <h2>Politica de</h2>
    <h2>confidentialitate</h2>
  </div>
  <p>
    Aceasta Politica de confidentialitate descrie politica persoanei juridice
    Ionita I. Grigore PFA, Str. Atelierelor, nr. 17, Constanta, Constanta,
    email: grigore.ionita@yahoo.com, tel:0723 126 654 cu privire la colectarea,
    utilizarea si partajarea datelor personale, date colectate daca utilizati
    site-ul nostru (www.asbijoux.ro), numit “Serviciul”. Prin accesarea si
    utilizarea Serviciului nostru, iti exprimi acordul cu privire la colectarea,
    utilizarea si partajarea informatiilor si datelor personale puse la
    dispozitie in conformitate cu aceasta Politica de confidentialitate. Daca nu
    sunteti de acord cu aceasta, va rugam sa nu accesati sau sa utilizati
    Serviciul nostru.
  </p>
  <p>
    Putem modifica aceasta Politica de confidentialitate in orice moment, fara
    notificare prealabila, si vom posta varianta revizuita si data intrarii in
    vigoare. Politica revizuita va intra in vigoare in termen de 180 de zile de
    la data publicarii si pentru utilizatorii care au acceptat vechea Politica.
    Accesul la Serviciu si utilizarea acestuia dupa acest termen implica
    acceptarea automata la Politicii revizuite. In consecinta, recomandam
    consultarea periodica a paginii de Politica de confidentialitate.
  </p>
  <h3><u>INFORMATIILE PE CARE LE COLECTAM</u></h3>
  <p>
    Colectam si procesam urmatoarele informatii puse la dispozitile de catre
    utilizator in legatura cu accesarea si utilizarea Serviciului:
  </p>
  <ul>
    <li>nume</li>
    <li>adresa de email</li>
  </ul>
  <h4><u>CUM COLECTAM ACESTE INFORMATII</u></h4>
  <p>Colectam / Procesam informatile in situatiile urmatoare:</p>
  <p>(1) La deschiderea unui cont nou pe site: Nu;</p>
  <p>(2) Pe baza de consimtamant (ex: abonare la Newsletter): Nu;</p>
  <p>(3) Cand ne contactezi direct sau prin formularele de contact;</p>
  <p>
    (4) Cand efectuezi o plata: Nu. Nu se efectueaza plati online pe serverul
    nostru;
  </p>
  <h4><u>CUM FOLOSIM INFORMATIILE COLECTATE</u></h4>
  <p>Folosim informatiile colectate in urmatoarele scopuri:</p>
  <ul>
    <li>Comentarii utilizatori</li>
  </ul>
  <p>
    Daca vom intentiona sa folosim informatiile colectate pentru oricare alt
    scop, iti vom cere inainte de utilizare consimtamantul, si numai dupa
    primirea consimtamantului, si numai pentru scopurile pentru care a fost
    cerut, vor fi folosite in consecinta. Exceptia poate fi numai in legatura cu
    cerinte sau obligatii impuse de lege.
  </p>
  <h4><u>CU CINE PARTAJAM INFORMATIILE:</u></h4>
  <p>
    Nu vom partaja informatiile personale colectate catre terte parti, fara
    consimtamantul tau, cu exceptia unor situatii limitate, cum ar fi cele de
    mai jos.
  </p>
  <p>
    Conditionam transferul catre aceste terte parti de utilizarea informatiilor
    numai in scopul pentru care au fost colectate si transferate, si ne-stocarea
    acestora mai mult decat termenul agreat la colectare pentru indeplinirea
    scopului.
  </p>
  <p>
    Este posibil sa partajam informatiile colectate pentru urmatoarele: (1)
    pentru respectarea unor obligatii legale, sau aplicarea unor decizii
    judecatoresti; (2) sa demonstram colectarea acordului pentru aceasta
    Politica de confidentialitate; (3) sa raspundem unor reclamatii in legatura
    cu incalcarea unor drepturi ale unor terte parti, de catre Serviciul
    nostru.In situatia in care Serviciul nostru sau compania, fuzioneaza sau
    este achizitionata de catre o alta companie, informatiile colectate vor
    reprezenta active transferate catre noul proprietar.
  </p>
  <h4><u>STOCAREA INFORMATIILOR COLECTATE</u></h4>
  <p>
    Vom pastra informatiile colectate atat timp cat este necsar sa fie
    indeplinit scopul pentru care au fost colectate, asa cum a fost detaliat in
    prezenta Politica de confidentialitate. Vom fi obligati sa pastram anumite
    informatii pe termen mai lung, cum ar fi inregistrarile contabile impuse de
    legislatia in vigoare, sau pentru alte scopuri legitime, cum ar fi:
    aplicarea legii, prevenirea fraudelor.
  </p>
  <p>
    Datele anonime si informatiile agregate, care nu te pot identifica (direct
    sau indirect), ar putea fi stocate pe termen nedeterminat.
  </p>
  <h4><u>DREPTURILE TALE</u></h4>
  <p>
    In functie de legislatia aplicabila, ai dreptul de acces si rectificare sau
    stergere a datelor tale personale colectate de catre noi, ai dreptul sa
    primesti o copie a datelor colectate, ai dreptul de a te opune sau
    restictiona procesarea anumitor date personale, ai dreptul de a te adresa
    autoritatii competente cu petitii sau reclamatii cu privire la drepturile
    tale. Pentru a-ti exercita aceste drepturi, ne poti contacta astfel: Ionita
    Grigore, grigore.ionita@yahoo.com. Iti vom raspunde la cerere in
    conformitate cu legislatia aplicabila, in termen de 30 zile.
  </p>
  <p>
    Ai posibilitatea sa te opui prelucrarii pentru comunicari de marketing sau
    analizei pentru publicitate personalizata, prin modificarea setarilor sau
    direct prin email la adresa grigore.ionita@yahoo.com. Te rugam sa iei in
    considerare ca anumite informatii colectate sunt necesare pentru
    functionarea Serviciului, iar retragerea consimtamantului poate face ca
    acesta sa devina indisponibil pentru utilizare.
  </p>
  <h4><u>SECURITATE</u></h4>
  <p>
    Securitatea datelor si informatiilor colectate este importanta pentru noi,
    si vom implementa masuri de securitate adecvate pentru a preveni pierderea,
    alterarea si accesul neautorizat la datele colectate. Totusi, date fiind
    riscurile inerente, nu putem garanta securitate absoluta si in consecinta nu
    putem garanta securitatea informatiilor colectate.
  </p>
  <h4><u>LINK-URI EXTERNE</u></h4>
  <p>
    Serviciul nostru poate afisa link-uri catre alte site-uri care nu sunt
    operate de noi. Aceasta Politica de confidentialitate nu are legatura cu
    politicile si practicile altor site-uri, inclusiv dar fara a se limita la
    site-uri accesate prin intermediul unor link-uri publicate de acest
    Serviciu. Iti recomandam sa consulti Politicile de confidentialitate ale
    oricaror alte site-uri pe care le vizitezi, pornind de la acest Serviciu. Nu
    avem control si nu ne asumam responsabilitatea pentru continutul, politicile
    de confidentialitate si practicile altor site-uri.
  </p>
  <h4>CONTACT / DPO</h4>
  <p>
    Daca ai intrebari sau nelamuriri cu privire la procesarea informatiilor /
    datelor personale colectate de catre noi, te rugam sa ne contactezi, „In
    atentia Responsabilului cu datele personale”, la adresa email:
    grigore.ionita@yahoo.com. Vom raspunde solicitarii in concordanta cu
    prevederile legale aplicabile in vigoare.
  </p>
</div>
