@import "../../styles/variables.scss";

:host {
  padding: 10px;
  counter-reset: section;
  article {
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    gap: $gap;
    img {
      width: 100%;
      height: 280px;
      object-fit: contain;
    }
    p {
      text-indent: 20px;
    }
    h2,
    .mini-title {
      text-indent: 0px;
      text-align: center;
      font-family: "Book Antiqua";
    }
    .mini-title {
      font-size: 17px;
    }
    .show-more {
      color: #6c757d;
      font-size: smaller;
      cursor: pointer;
    }
    .show-more:hover {
      color: $black;
    }
    .mb-10px {
      margin-bottom: 10px;
    }
    .article-bottom {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: $gap;
      .article-bottom-lower-side {
        display: flex;
        flex-direction: column;
        gap: $gap;
        .mini-title {
          text-indent: 0px;
          text-align: center;
          font-family: "Book Antiqua";
          font-size: 17px;
        }
        .p-no-text-indent {
          text-indent: 0px;
        }
        .p-no-text-indent:before {
          counter-increment: section;
          content: counter(section) ") ";
        }
      }
    }
  }
}
