<article>
  <img
    src="assets/asbijoux-atelierelor-main-image.jpg"
    alt="Verighete AsBijoux Constanta"
  />
  <h2><i>Verighetele, simbol al logodnei și iubirii</i></h2>
  <p>
    Inelul este un simbol al statutului social, dar și al legăturii dintre
    oameni. Din acest motiv, inelul a început să fie din ce în ce mai folosit ca
    simbol al logodnei.
  </p>
  <p>
    Inelul, fiind un cerc, reprezenta simbolul eternității, atât pentru
    egipteni, cât și pentru alte culturi. Nu are început și nici sfârșit, și, la
    fel ca timpul, se întoarce spre sine însuși; forma sa era venerata și prin
    reprezentarea soarelui și a lunii.
  </p>
  <p>
    Atunci când un bărbat voia să garanteze că se va căsători, îi oferea alesei
    sale un inel din fier, acesta simbolizând angajamentul pe care tocmai l-a
    luat.
  </p>
  <p>
    În concluzie, verighetele sunt mai degrabă ca podoabe ale sufletului, decât
    ca podoabe ale trupului, reprezentând un simbol al dragostei curate și
    credincioșiei dintre soț.
  </p>
  <p class="mb-10px">
    Ne dorim să fim părtași în noua dumneavoastră etapă din viață, realizându-vă
    la comandă verighete unice, speciale, care să simbolizeze drumul împreună în
    viață, atunci când doi oameni devin o singură familie, două inimi și spirite
    unite.
  </p>
  <p class="mini-title">
    <i>Istoria verighetelor, simbolul căsătoriei și a iubirii veșnice</i>
  </p>
  <p>
    De-a lungul istoriei, verigheta a rămas bijuteria cea mai îndrăgită de către
    cuplurile din întreaga lume, fiind simbolul unicității și fidelității.
  </p>
  <p>
    Primele inele au apărut în Egiptul antic și au simbolizat puterea. Acestea
    aveau sigilii și erau folosite atât de faraoni, cât și de persoanele cu
    autoritate. Cei care le purtau aveau dreptul de a emite legi și ordine.
    Găsim chiar și în Biblie o dovadă a întrebuințării inelelor în acele epoci:
    „Faraon și-a scos inelul din deget și l-a pus în degetul lui Iosif.”
  </p>
  <p>
    În timp, aceste inele din aur sau argint au devenit bijuterii preluate de
    greci și romani.
  </p>
  <p>
    La început, inelul erau doar un simbol al clasei sociale. Aceste bijuterii
    din aur sau alte materiale prețioase erau purtate de oamenii cei mai bogați,
    iar sclavii aveau voie să poarte doar inele ce erau confecționate numai din
    fier, acestea fiind primite la eliberare.
  </p>

  <div class="article-bottom">
    <div>
      <img
        src="assets/asbijoux-verighete-din-aur.PNG"
        alt="AsBijoux Verighete Constanta"
      />
    </div>
    <div class="article-bottom-lower-side">
      <p class="mini-title"><i>Tipuri de verighete</i></p>
      <p>
        Dorind să fim încă de la început alături de clienții noștri, vom
        prezenta în cele ce urmează tipurile de verighete pe care le putem
        realiza pe comandă, ținând cont atât de buget, cât și de stilul
        fiecăruia și a materialului dorit.
      </p>
      <p>
        Potrivit tradiției, verighetele trebuie să fie din aur galben, însă noi
        suntem aici pentru a vă personaliza verighetele după stilul și
        personalitatea dumneavoastră.
      </p>
      <p class="p-no-text-indent">Verighete clasice</p>
      <p>
        Acestea sunt tipurile de verighete tradiționale, rotunjite la exterior
        și plate în interior. De obicei, acestea sunt din aur galben, dar sunt
        disponibile și în versiunea din aur alb sau înfrumusețate cu un mic
        diamant, care redă frumusețea și unicitatea verighetelor.
      </p>
      <p class="p-no-text-indent">Verighete din aur alb sau galben</p>
      <p>
        Este o verighetă modernă, ușoară și subtire, ușor rotunjită la exterior
        în aur galben sau alb. Este o bijuterie simplă, stralucitoare, o puteți
        combina cu alte bijuterii, cum ar fi inelul de logodnă.
      </p>
      <p class="p-no-text-indent">Verighete cu diamant</p>
      <p>
        Este cel mai luxos și elegant tip: diamantele pot fi doar în centru sau
        pozitionate de-a lungul întregii verighete. De asemenea, ele pot fi din
        aur galben sau alb.
      </p>
      <p class="p-no-text-indent">Verighete din aur roz</p>
      <p>
        Sunt acele verighete ideale pentru cei care nu doresc aurul clasic,
        galben. Ele au un aspect deosebit și, în special doamnele, se vor simți
        speciale.
      </p>
    </div>
  </div>
</article>
