<div class="home-container">
  <img
    src="assets/asbijoux-atelierelor-main-image.jpg"
    alt="AsBijoux Bijuterii Constanta"
  />
  <div class="about-us">
    <h1 title="AsBijoux Constanta">Despre noi</h1>
    <p>
      Povestea noastra a început in anul 1990, din dorinta de a oferi clientilor
      nostri bijuterii unicat, personalizate, de o calitate superioars.
    </p>
    <p>
      Atelierul nostru de bijuterie ofera posibilitatea realizarii de proiecte
      personalizate, "creatorul minunatelor bijuterii",
      <span title="AsBijoux Ionita Grigore Atelierelor Constanta"
        >Ionita Grigore</span
      >, avand o experienta în domeniu de peste 35 de ani.
    </p>
    <p>
      Sa fie admirata, atragatoare si eleganta este tot ceea ce isi doreste o
      femeie!
    </p>
    <p>
      In atelierul nostru veti simti acest sentiment imediat cum veti pasi
      inauntru.
    </p>
    <p>
      Lucram bijuteriile dorite de dumneavoastra la comanda, acestea fiind
      lucrate <b title="Bijuterii confectionate manual">MANUAL</b>.
    </p>
    <p>
      De asemenea, va putem indeplini visul de a va
      <span title="Reparatii si reconditionari bijuterii Constanta"
        >reconditiona</span
      >
      bijuterii vechi cu valoare sentimentala, bijuterii de familie cu sau fara
      pietre pretioase sau semipretioase.
    </p>
    <p>
      Societatea noastra efectueaza la comanda modele de bijuterii unicat, alese
      din revistele noastre sau dupa modelele dorite de dumneavoastra:
    </p>
    <ul>
      <li>verighete, inele de logodna</li>
      <li>inele</li>
      <li>lanturi</li>
      <li>cercei</li>
      <li>butoni de camasa</li>
      <li>ace de cravata</li>
      <li>bratari</li>
      <li>bratari ceasuri din aur</li>
      <li>brose, medalioane din aur</li>
      <li>rame de ochelari s.a.m.d</li>
    </ul>

    <h4>
      Va asteptam cu drag sa pasiti in lumea noastra, pentru a invata impreuna
      sa daruim fericirea oferirii unui cadou sau de ce nu sa va lucram chiar
      dumneavostra o bijuterie confectionata manual!
    </h4>
    <h2>CALITATEA SI GARANTIA NE REPREZINTA !</h2>
  </div>
</div>
