<div id="home-component-container">
  <div id="carousel-component-container">
    <app-carousel></app-carousel>
  </div>
  <div class="about-us">
    <h1 title="AsBijoux Constanta">Despre noi</h1>
    <p>
      Povestea noastră a început în anul 1990, din dorința de a oferi clienților
      noștri bijuterii unicat, personalizate, de o calitate superioară.
    </p>
    <p>
      Atelierul nostru de bijuterie oferă posibilitatea realizării de proiecte
      personalizate, "creatorul minunatelor bijuterii",
      <span title="AsBijoux Ionita Grigore Atelierelor Constanta"
        >Ioniță Grigore</span
      >, având o experiență în domeniu de peste 35 de ani.
    </p>
    <p>
      Să fie admirată, atrăgătoare și elegantă este tot ceea ce își dorește o
      femeie!
    </p>
    <p>
      În atelierul nostru veți simți acest sentiment imediat cum veți păși
      înăuntru.
    </p>
    <p>
      Lucrăm bijuteriile dorite de dumneavoastră la comandă, acestea fiind
      lucrate lucrate <b title="Bijuterii confectionate manual">MANUAL</b>.
    </p>
    <p>
      De asemenea, vă putem îndeplini visul de a vă
      <span title="Reparatii si reconditionari bijuterii Constanta"
        >recondiționa</span
      >
      bijuterii vechi cu valoare sentimentală, bijuterii de familie cu sau fără
      pietre prețioase sau semiprețioase.
    </p>
    <p>
      Societatea noastră efectuează la comandă modele de bijuterii unicat, alese
      din revistele noastre sau dupa modelele dorite de dumneavoastră:
    </p>
    <ul>
      <li>verighete, inele de logodnă</li>
      <li>inele</li>
      <li>lanțuri</li>
      <li>cercei</li>
      <li>butoni de cămașă</li>
      <li>ace de cravată</li>
      <li>brățări</li>
      <li>brățări ceasuri din aur</li>
      <li>broșe, medalioane din aur</li>
      <li>rame de ochelari ș.a.m.d</li>
    </ul>

    <h4>
      Vă așteptăm cu drag să pășiți în lumea noastră, pentru a învăța împreună
      să dăruim fericirea oferirii unui cadou sau de ce nu să vă lucrăm chiar
      dumneavostră o bijuterie confecționată manual!
    </h4>
    <article>
      <p class="mini-title">
        <i>Verighetele, simbol al logodnei și iubirii</i>
      </p>
      <p>
        Inelul este un simbol al statutului social, dar și al legăturii dintre
        oameni. Din acest motiv, inelul a început să fie din ce în ce mai
        folosit ca simbol al logodnei.
      </p>
      <p>
        Inelul, fiind un cerc, reprezenta simbolul eternității, atât pentru
        egipteni, cât și pentru alte culturi. Nu are început și nici sfârșit,
        și, la fel ca timpul, se întoarce spre sine însuși; forma sa era
        venerata și prin reprezentarea soarelui și a lunii.
      </p>
      <p>
        Atunci când un bărbat voia să garanteze că se va căsători, îi oferea
        alesei sale un inel din fier, acesta simbolizând angajamentul pe care
        tocmai l-a luat.
      </p>
      <p>
        În concluzie, verighetele sunt mai degrabă ca podoabe ale sufletului,
        decât ca podoabe ale trupului, reprezentând un simbol al dragostei
        curate și credincioșiei dintre soț.
      </p>
      <p>
        Ne dorim să fim părtași în noua dumneavoastră etapă din viață,
        realizându-vă la comandă verighete unice, speciale, care să simbolizeze
        drumul împreună în viață, atunci când doi oameni devin o singură
        familie, două inimi și spirite unite.
        <span routerLink="/articol/verighete" class="show-more"
          >Citeste tot</span
        >
      </p>
    </article>
    <h2>CALITATEA ȘI GARANȚIA NE REPREZINTĂ !</h2>
    <img src="assets/logo-asbijoux.jpg" alt="AsBijoux Bijuterii Constanta" />
  </div>
</div>
