<div id="home-component-container">
  <div id="carousel-component-container">
    <app-carousel></app-carousel>
  </div>
  <div class="about-us">
    <h1 title="AsBijoux Constanta">Despre noi</h1>
    <p>
      Povestea noastra a început in anul 1990, din dorinta de a oferi clientilor
      nostri bijuterii unicat, personalizate, de o calitate superioara.
    </p>
    <p>
      Atelierul nostru de bijuterie ofera posibilitatea realizarii de proiecte
      personalizate, "creatorul minunatelor bijuterii",
      <span title="AsBijoux Ionita Grigore Atelierelor Constanta"
        >Ionita Grigore</span
      >, avand o experienta în domeniu de peste 35 de ani.
    </p>
    <p>
      Sa fie admirata, atragatoare si eleganta este tot ceea ce isi doreste o
      femeie!
    </p>
    <p>
      In atelierul nostru veti simti acest sentiment imediat cum veti pasi
      inauntru.
    </p>
    <p>
      Lucram bijuteriile dorite de dumneavoastra la comanda, acestea fiind
      lucrate <b title="Bijuterii confectionate manual">MANUAL</b>.
    </p>
    <p>
      De asemenea, va putem indeplini visul de a va
      <span title="Reparatii si reconditionari bijuterii Constanta"
        >reconditiona</span
      >
      bijuterii vechi cu valoare sentimentala, bijuterii de familie cu sau fara
      pietre pretioase sau semipretioase.
    </p>
    <p>
      Societatea noastra efectueaza la comanda modele de bijuterii unicat, alese
      din revistele noastre sau dupa modelele dorite de dumneavoastra:
    </p>
    <ul>
      <li>verighete, inele de logodna</li>
      <li>inele</li>
      <li>lanturi</li>
      <li>cercei</li>
      <li>butoni de camasa</li>
      <li>ace de cravata</li>
      <li>bratari</li>
      <li>bratari ceasuri din aur</li>
      <li>brose, medalioane din aur</li>
      <li>rame de ochelari s.a.m.d</li>
    </ul>

    <h4>
      Va asteptam cu drag sa pasiti in lumea noastra, pentru a invata impreuna
      sa daruim fericirea oferirii unui cadou sau de ce nu sa va lucram chiar
      dumneavostra o bijuterie confectionata manual!
    </h4>
    <article>
      <p class="mini-title">
        <i>Verighetele, simbol al logodnei și iubirii</i>
      </p>
      <p>
        Inelul este un simbol al statutului social, dar și al legăturii dintre
        oameni. Din acest motiv, inelul a început să fie din ce în ce mai
        folosit ca simbol al logodnei.
      </p>
      <p>
        Inelul, fiind un cerc, reprezenta simbolul eternității, atât pentru
        egipteni, cât și pentru alte culturi. Nu are început și nici sfârșit,
        și, la fel ca timpul, se întoarce spre sine însuși; forma sa era
        venerata și prin reprezentarea soarelui și a lunii.
      </p>
      <p>
        Atunci când un bărbat voia să garanteze că se va căsători, îi oferea
        alesei sale un inel din fier, acesta simbolizând angajamentul pe care
        tocmai l-a luat.
      </p>
      <p>
        În concluzie, verighetele sunt mai degrabă ca podoabe ale sufletului,
        decât ca podoabe ale trupului, reprezentând un simbol al dragostei
        curate și credincioșiei dintre soț.
      </p>
      <p>
        Ne dorim să fim părtași în noua dumneavoastră etapă din viață,
        realizându-vă la comandă verighete unice, speciale, care să simbolizeze
        drumul împreună în viață, atunci când doi oameni devin o singură
        familie, două inimi și spirite unite.
        <span routerLink="/articol/verighete" class="show-more"
          >Citeste tot</span
        >
      </p>
    </article>
    <h2>CALITATEA SI GARANTIA NE REPREZINTA !</h2>
  </div>
</div>
