@import "../../styles/variables.scss";

:host {
  .product-comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    padding: 15px 0;
    background-color: $commentBgColor;
    width: 100%;
    .product-comments-title {
      padding: 16px 10px;
      margin-bottom: 10px;
    }
    .product-comments-container {
      display: flex;
      flex-direction: column;
      gap: $gap;
      width: 95%;
      .product-comment,
      #product-comment-preview {
        display: flex;
        flex-direction: column;
        background-color: $white;
        padding: 16px 10px;
        gap: $gap;
        border-radius: 4px 4px 0 0;
        small {
          color: $commentSmallColor;
        }
      }
      .product-comment {
        .add-reply-container {
          display: flex;
          flex-direction: column;
          textarea {
            font-family: Roboto, "Helvetica Neue", sans-serif;
            resize: none;
            padding: 5px;
          }
        }
      }
      #product-comment-preview {
        small {
          color: rgba(0, 0, 0, 0.6);
        }
      }
      .product-reply-comments-container {
        display: flex;
        flex-direction: row-reverse;
        background-color: $commentBgColor;
        border-left: 1px dotted rgba(0, 0, 0, 0.6);
        .product-reply-comments {
          width: 85%;
          display: flex;
          flex-direction: column;
          background-color: $white;
          padding: 16px 10px;
          gap: $gap;
          border-radius: 4px 4px 0 0;
          small {
            color: $commentSmallColor;
          }
          textarea {
            font-family: Roboto, "Helvetica Neue", sans-serif;
            resize: none;
            padding: 5px;
          }
        }
      }

      .product-comment-intro {
        padding: 16px 10px;
        background-color: $white;
        p {
          margin-bottom: 5px;
        }
        small {
          color: rgba(0, 0, 0, 0.6);
        }
      }
      .product-add-comment {
        display: flex;
        flex-direction: column;
        .product-comment-data {
          mat-form-field {
            width: 100%;
          }
        }
        .product-comment-textarea {
          width: 100%;
        }
        button[type="submit"] {
          border-radius: 4px 4px 0px 0px;
          margin-top: 2px;
        }
      }
    }
  }
  @media screen and (min-width: 600px) {
    .error {
      left: 26%;
    }
  }
  @media screen and (min-width: 650px) {
    .product-comments {
      .product-comments-container {
        .product-add-comment {
          .product-comment-data {
            display: flex;
            gap: $gap;
            mat-form-field {
              width: 49%;
            }
          }
        }
      }
    }
  }
  @media screen and (min-width: 760px) {
    .error {
      left: 33%;
    }
  }
  @media screen and (min-width: 850px) {
    .product-comments {
      .product-comments-container {
        .product-add-comment {
          .product-comment-data {
            flex-direction: column;
            mat-form-field {
              width: 40%;
            }
          }
          button[type="submit"] {
            width: 40%;
          }
        }
        .product-reply-comments-container {
          .product-reply-comments {
            width: 90%;
          }
        }
      }
    }
  }
  @media screen and (min-width: 1000px) {
    .error {
      left: 39%;
    }
  }
  @media screen and (min-width: 1060px) {
    .product-comments {
      .product-comments-container {
        .product-add-comment {
          .product-comment-data {
            flex-direction: column;
            width: 300px;
            mat-form-field {
              width: 100%;
            }
          }
          button[type="submit"] {
            width: 300px;
          }
        }
      }
    }
  }
  @media screen and (min-width: 1300px) {
    .product-comments {
      .product-comments-container {
        .product-reply-comments-container {
          .product-reply-comments {
            width: 95%;
          }
        }
        .product-add-comment {
          .product-comment-data {
            flex-direction: column;
            width: 350px;
          }
          button[type="submit"] {
            width: 350px;
          }
        }
      }
    }
  }
}
.comment-loading {
  opacity: 0.6;
  cursor: not-allowed;
  &:hover,
  &:active {
    background-color: $blue;
  }
}

.admin-comment-btns {
  display: flex;
  flex-direction: row-reverse;
  gap: $gap;
  color: $commentSmallColor;
  font-size: smaller;
  span {
    cursor: pointer;
  }
}
.admin-comment-btns {
  span:hover {
    color: $blueHover;
  }
}
.admin-comment-btns {
  span:active {
    color: $blueActive;
  }
}
.error {
  max-width: 45%;
  max-height: 15%;
  position: fixed;
  top: 50%;
  left: 22%;
  z-index: 1;
  overflow: hidden;
}
