<ng-container *ngIf="isLoading">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</ng-container>

<ng-container *ngIf="!isLoading">
  <form>
    <h1>Login</h1>
    <label for="username"
      ><fa-icon id="user-icon" [icon]="faUser"></fa-icon
    ></label>
    <input
      [(ngModel)]="username"
      (mouseenter)="changeIconUserColor()"
      (mouseleave)="changeIconUserColor()"
      type="text"
      name="username"
      id="username"
      placeholder="Username"
    />

    <label for="password"
      ><fa-icon id="password-icon" [icon]="faLock"></fa-icon
    ></label>
    <input
      [(ngModel)]="password"
      (mouseenter)="changeIconPasswordColor()"
      (mouseleave)="changeIconPasswordColor()"
      type="password"
      name="password"
      id="password"
      placeholder="Password"
    />
    <button type="submit" (click)="logIn($event)">Login</button>
    <p *ngIf="errorMessage" [class]="errorMessageClass">{{ errorMessage }}</p>
  </form>
</ng-container>
