<form>
  <ng-container *ngIf="!isLoading; else loading">
    <h1>Login</h1>
    <label for="username"
      ><fa-icon id="user-icon" [icon]="faUser"></fa-icon
    ></label>
    <input
      [(ngModel)]="username"
      (mouseenter)="changeIconUserColor()"
      (mouseleave)="changeIconUserColor()"
      type="text"
      name="username"
      id="username"
      placeholder="Username"
    />

    <label for="password"
      ><fa-icon id="password-icon" [icon]="faLock"></fa-icon
    ></label>
    <input
      [(ngModel)]="password"
      (mouseenter)="changeIconPasswordColor()"
      (mouseleave)="changeIconPasswordColor()"
      type="password"
      name="password"
      id="password"
      placeholder="Password"
    />
    <button class="add-btn-primary" type="submit" (click)="logIn($event)">
      Login
    </button>
    <p *ngIf="errorMessage" [class]="errorMessageClass">{{ errorMessage }}</p>
  </ng-container>
</form>

<ng-template #loading>
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
