@import "../../styles/variables.scss";
:host {
  display: grid;
  place-items: center;
  height: 100%;
  background-color: $login;
  form {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: $gap;
    background-color: $white;
    border-top: 3px solid $blue;
    box-shadow: 0 3px 2px 0px #cabcbc;
    padding: 20px 40px;
    margin: 10px 0;
    h1 {
      color: $blue;
      font-weight: normal;
    }

    input {
      padding: 10px;
      text-indent: 20px;
      border-radius: 5px;
    }
    label {
      position: relative;
      #user-icon,
      #password-icon {
        position: absolute;
        right: 87%;
        z-index: 1;
        color: #b9b7b7;
      }
      #user-icon {
        top: 20px;
      }
      #password-icon {
        bottom: -40px;
      }
    }
  }
  @media screen and (min-width: 839px) {
    form {
      width: 20%;
      label {
        #user-icon,
        #password-icon {
          right: 92%;
        }
      }
    }
  }

  @media screen and (min-width: 663px) {
    form {
      label {
        #user-icon,
        #password-icon {
          right: 89%;
        }
      }
    }
  }

  @media screen and (min-width: 1296px) {
    form {
      label {
        #user-icon,
        #password-icon {
          right: 92%;
        }
      }
    }
  }

  @media screen and (min-width: 1700px) {
    form {
      label {
        #user-icon,
        #password-icon {
          right: 93%;
        }
      }
    }
  }
}
