/* You can add global styles to this file, and also import other style files */
@import "./../node_modules/quill/dist/quill.core.css";
@import "./../node_modules/quill/dist/quill.snow.css";
@import "./../node_modules/quill/dist/quill.bubble.css";
@import "./app/styles/variables.scss";

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spinner-container {
  position: absolute;
  top: calc(50% - 56.5486677px / 2);
  right: calc(47% - 56.5486677px / 2);
}
.error-message-on {
  color: $errorColor;
  background-color: $errorBackground;
  border-color: $errorBorder;
  padding: 20px;
  border-radius: 5px;
}
.error-message-off {
  display: none;
}
.success-message-on {
  color: $successColor;
  background-color: $successBackGround;
  border-color: $successBorder;
  padding: 20px;
  border-radius: 5px;
  mat-icon {
    cursor: pointer;
    margin-left: 2px;
  }
}
.add-btn-primary {
  background-color: $blue;
  color: $white;
  border-radius: 5px;
  padding: 10px;
  border: none;
  font-size: large;
  cursor: pointer;
}
.add-btn-primary:hover {
  background-color: $blueHover;
}
.add-btn-primary:active {
  background-color: $blueActive;
}

.pop-up {
  max-width: 45%;
  max-height: 15%;
  position: fixed;
  top: 50%;
  left: 25%;
  z-index: 1;
  overflow: hidden;
}

@media screen and (min-width: 361px) {
  .pop-up {
    max-width: 45%;
    max-height: 15%;
    position: fixed;
    top: 50%;
    left: 30%;
    z-index: 1;
    overflow: hidden;
  }
}

@media screen and (min-width: 511px) {
  .pop-up {
    max-width: 45%;
    max-height: 15%;
    position: fixed;
    top: 50%;
    left: 32%;
    z-index: 1;
    overflow: hidden;
  }
}

@media screen and (min-width: 819px) {
  .pop-up {
    max-width: 45%;
    max-height: 15%;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1;
    overflow: hidden;
  }
}
