/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spinner-container {
  position: absolute;
  top: calc(50% - 56.5486677px / 2);
  right: calc(47% - 56.5486677px / 2);
}
.error-message-on {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding: 20px;
  border-radius: 5px;
}
.error-message-off {
  display: none;
}
