<div class="footer-container">
  <div>
    <p>
      Copyright &copy; {{ currentYear }}
      <span title="Bijuterii Constanta AsBijoux" class="footer-title"
        >AsBijoux</span
      >
    </p>
    <p>Toate drepturile rezervate</p>
  </div>
  <div>
    <div>
      <div>
        <p (click)="goToHome()">Despre noi</p>
        <p>Contact:</p>
      </div>
      <div>
        <a href="tel:+40723126654">Telefon: 0723 126 654</a>
        <a href="mailto:grigore.ionita@yahoo.com"
          >Email: grigore.ionita@yahoo.com</a
        >
        <a>Adresa: Str. Atelierelor, nr. 17, Constanta</a>
      </div>
      <p (click)="goToPolicy()">Politica de confidentialitate</p>
    </div>
  </div>
</div>
