<ng-container *ngIf="isLoading">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</ng-container>

<ng-container *ngIf="!isLoading">
  <div class="comments-admin-component-container">
    <h2>Administreaza comentariile</h2>
    <h3>
      Numarul total de comentarii utilizatori: {{ filteredComments.length }}
    </h3>
    <div class="comments-admin-search">
      <mat-form-field class="example-form-field" appearance="outline">
        <mat-label>Cauta comentariu dupa nume utilizator</mat-label>
        <input
          (keyup.enter)="applyNameByEnter()"
          matInput
          type="text"
          [(ngModel)]="searchValue"
        />
        <button
          *ngIf="
            this.searchValue && filteredComments.length !== comments.length
          "
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="clearSearchValueAndFilters()"
        >
          <mat-icon>close</mat-icon>
        </button>
        <button
          matSuffix
          class="search-btn"
          (click)="applyNameByEnter()"
          mat-icon-button
        >
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="comments-admin-filter-top">
      <h4>Filtre:</h4>
      <div
        [ngClass]="
          filterCheckbox.activated ||
          filterCheckbox.inactivated ||
          filteredComments.length !== comments.length
            ? 'comments-admin-filter-check'
            : 'comments-admin-filter-check hidden-btn'
        "
      >
        <button (click)="deleteAllFilters()">Sterge toate filtrele</button>
      </div>
    </div>
    <div class="comments-admin-filters-top">
      <div class="comments-admin-filters-col">
        <div class="comments-admin-filter">
          <input
            (change)="changeActivated($event)"
            [checked]="filterCheckbox.activated"
            type="checkbox"
            name=""
            id="comments-admin-activated"
          />
          <label for="comments-admin-activated">Comentarii active</label>
        </div>
        <div class="comments-admin-filter">
          <input
            (change)="changeInactivated($event)"
            [checked]="filterCheckbox.inactivated"
            type="checkbox"
            name=""
            id="comments-admin-inactivated"
          />
          <label for="comments-admin-inactivated">Comentarii inactive</label>
        </div>
      </div>
    </div>
    <ng-container *ngIf="filteredComments.length">
      <ng-container *ngFor="let comment of selectedComments; let index = index">
        <div class="admin-product-comment">
          <h4>{{ comment.name }}</h4>
          <p>Email: {{ comment.email }}</p>
          <small>
            {{ comment.createdAt | customDate }}
          </small>
          <p>{{ comment.text }}</p>
          <div class="product-comment-controllers">
            <p>Nume produs: {{ comment.product.title }}</p>
            <button>
              <mat-icon
                (click)="goToProduct(comment.product)"
                title="Vizualizeaza produsul"
                >visibility</mat-icon
              >
            </button>
          </div>
          <p *ngIf="comment.isActivated">
            Status: <span class="comment-status-active">Publicat</span>
          </p>
          <p *ngIf="!comment.isActivated">
            Status: <span class="comment-status-inactive">Inactiv</span>
          </p>
          <div class="product-comment-controllers">
            <button
              *ngIf="!comment.isActivated"
              [ngClass]="isDisabled ? 'btn-disabled' : 'btn-enabled'"
              [disabled]="isDisabled"
            >
              <mat-icon
                title="Activeaza comentariul"
                (click)="toggleComment(comment, true, index)"
                >check_circle_outline</mat-icon
              >
            </button>
            <button
              *ngIf="comment.isActivated"
              [ngClass]="isDisabled ? 'btn-disabled' : 'btn-enabled'"
              [disabled]="isDisabled"
            >
              <mat-icon
                title="Dezactiveaza comentariul"
                (click)="toggleComment(comment, false, index)"
                >close</mat-icon
              >
            </button>
            <button
              [ngClass]="isDisabled ? 'btn-disabled' : 'btn-enabled'"
              [disabled]="isDisabled"
            >
              <mat-icon
                (click)="deleteFullComment(comment)"
                title="Sterge comentariul"
                >delete</mat-icon
              >
            </button>
          </div>
          <p
            *ngIf="API_KEY && !comment.reply_comments.length"
            class="admin-comment-btns"
          >
            <button
              *ngIf="!isReplyActive && comment.isActivated"
              [ngClass]="isDisabled ? 'btn-disabled' : 'btn-enabled'"
              [disabled]="isDisabled"
              (click)="openReplyContainer(comment)"
            >
              Raspunde
            </button>
          </p>
          <div
            *ngIf="replyCommentId === comment.id"
            class="add-reply-container"
          >
            <textarea
              [(ngModel)]="replyCommentText"
              name="admin comment container"
              cols="20"
              rows="10"
              maxlength="990"
            ></textarea>
            <p class="admin-comment-btns">
              <button
                (click)="cancelAddReply()"
                [ngClass]="isDisabled ? 'btn-disabled' : 'btn-enabled'"
                [disabled]="isDisabled"
              >
                Anuleaza
              </button>
              <button
                (click)="addReplyComment(comment, index)"
                [ngClass]="isDisabled ? 'btn-disabled' : 'btn-enabled'"
                [disabled]="isDisabled"
              >
                Adauga
              </button>
            </p>
          </div>
        </div>
        <ng-container *ngIf="comment.reply_comments.length">
          <ng-container
            *ngFor="let reply of comment.reply_comments; let index = index"
          >
            <div
              *ngIf="reply.isActivated"
              class="product-reply-comments-container"
            >
              <div class="product-reply-comments">
                <h4>{{ reply.name }}</h4>
                <small *ngIf="reply.createdAt >= reply.updatedAt">
                  {{ reply.createdAt | customDate }}
                </small>
                <small *ngIf="reply.createdAt < reply.updatedAt">
                  Editat in {{ reply.updatedAt | customDate }}
                </small>
                <p *ngIf="replyEditCommentId !== reply.id">
                  {{ reply.text }}
                </p>
                <textarea
                  *ngIf="replyEditCommentId === reply.id"
                  [(ngModel)]="replyEditText"
                  name="edit container"
                  cols="20"
                  rows="10"
                  maxlength="990"
                  >{{ reply.text }}</textarea
                >
                <p *ngIf="API_KEY" class="admin-comment-btns">
                  <button
                    *ngIf="replyEditCommentId !== reply.id"
                    [ngClass]="isDisabled ? 'btn-disabled' : 'btn-enabled'"
                    [disabled]="isDisabled"
                    (click)="deleteAdminComment(reply, index)"
                  >
                    Sterge
                  </button>
                  <button
                    *ngIf="replyEditCommentId !== reply.id"
                    [ngClass]="isDisabled ? 'btn-disabled' : 'btn-enabled'"
                    [disabled]="isDisabled"
                    (click)="openEditAdminComment(reply)"
                  >
                    Editeaza
                  </button>
                  <button
                    *ngIf="replyEditCommentId === reply.id"
                    [ngClass]="isDisabled ? 'btn-disabled' : 'btn-enabled'"
                    [disabled]="isDisabled"
                    (click)="cancelEditAdminComment(reply)"
                  >
                    Anuleaza
                  </button>
                  <button
                    *ngIf="replyEditCommentId === reply.id"
                    [ngClass]="isDisabled ? 'btn-disabled' : 'btn-enabled'"
                    [disabled]="isDisabled"
                    (click)="modifyAdminComment(reply)"
                  >
                    Modifica
                  </button>
                </p>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
    <div class="admin-comments-no-items" *ngIf="!comments.length">
      <p>Nu sunt comentarii in acest moment.</p>
    </div>
    <div
      class="admin-comments-no-items"
      *ngIf="comments.length && !filteredComments.length"
    >
      <p>
        Ne pare rau, insa nu au fost identificate comentarii cu filtrele
        selectate.
      </p>
    </div>
    <mat-paginator
      *ngIf="filteredComments.length"
      id="search-component-paginator"
      (page)="handlePageEvent($event)"
      [length]="length"
      [pageSize]="pageSize"
      [showFirstLastButtons]="showFirstLastButtons"
      [pageSizeOptions]="pageSizeOptions"
      [pageIndex]="pageIndex"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</ng-container>

<ng-container>
  <ng-container *ngIf="errorMessage">
    <div class="error-message-on pop-up">{{ errorMessage }}</div>
  </ng-container>
</ng-container>
<ng-container *ngIf="successMessage">
  <div class="success-message-on pop-up">{{ successMessage }}</div>
</ng-container>
