@import "../../styles/variables.scss";

:host {
  width: 100%;
  padding: 15px;
  .comments-admin-component-container {
    display: flex;
    flex-direction: column;
    gap: $gap;
    padding: 5px;
    h2,
    h3 {
      text-align: center;
    }
    .comments-admin-search {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: $gap;
      button {
        border: none;
        background-color: $adminRightSide;
      }
    }
    .comments-admin-filter-top {
      display: flex;
      flex-direction: column;
      gap: 5px;
      flex-wrap: wrap;
      .comments-admin-filter-check {
        display: flex;
        gap: 5px;
        align-items: center;
        button {
          padding: 5px;
          background-color: $blue;
          color: $white;
          border: none;
        }
        button:hover {
          background-color: $blueHover;
        }
        button:active {
          background-color: $blueActive;
        }
      }
      .hidden-btn {
        visibility: hidden;
      }
    }
    .comments-admin-filters-top {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: $gap;
      .comments-admin-filters-col {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: $gap;
        .comments-admin-filter {
          display: flex;
          gap: 5px;
          align-items: center;
          input[type="checkbox"] {
            width: 15px;
            height: 15px;
          }
        }
      }
    }
    .admin-product-comment {
      display: flex;
      flex-direction: column;
      background-color: $white;
      padding: 16px 10px;
      gap: $gap;
      border-radius: 4px 4px 0 0;
      .add-reply-container {
        display: flex;
        flex-direction: column;
        textarea {
          font-family: Roboto, "Helvetica Neue", sans-serif;
          resize: none;
          padding: 5px;
        }
      }
      small {
        color: $commentSmallColor;
      }
      .comment-status-active {
        color: rgb(11, 157, 11);
      }
      .comment-status-inactive {
        color: rgb(214, 47, 47);
      }
      .product-comment-controllers {
        display: flex;
        align-items: center;
        gap: 5px;
        button {
          background-color: $white;
          border: none;
          cursor: pointer;
        }
      }
    }
    .product-reply-comments-container {
      display: flex;
      flex-direction: row-reverse;
      border-left: 1px dotted rgba(0, 0, 0, 0.6);
      .product-reply-comments {
        width: 85%;
        display: flex;
        flex-direction: column;
        background-color: $white;
        padding: 16px 10px;
        gap: $gap;
        border-radius: 4px 4px 0 0;
        small {
          color: #3f51b5;
        }
        textarea {
          font-family: Roboto, "Helvetica Neue", sans-serif;
          resize: none;
          padding: 5px;
        }
      }
    }
    .admin-comments-no-items {
      display: grid;
      place-items: center;
      height: 150px;
    }
  }
  @media screen and (min-width: 750px) {
    .comments-admin-component-container {
      .comments-admin-search {
        flex-direction: row;
        mat-form-field {
          width: 48%;
        }
      }
    }
  }
}

.admin-comment-btns {
  display: flex;
  flex-direction: row-reverse;
  gap: $gap;

  button {
    background-color: $white;
    border: none;
    cursor: pointer;
    color: #3f51b5;
    font-size: smaller;
  }
}
.admin-comment-btns {
  button:hover {
    color: $blueHover;
  }
}
.admin-comment-btns {
  button:active {
    color: $blueActive;
  }
}

.btn-disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.btn-enabled {
  opacity: 1;
}
